<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      PARK AID
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-searchbar showCancelButton cancelButtonText="Custom Cancel"></ion-searchbar>
<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="https://www.strathcona.ca/files/images/rpc-medium-parksandplaygrounds-660x396.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Get started</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Here are some helpful websites to find the best park.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-button href="https://travel.usnews.com/rankings/best-national-parks-in-the-usa/">Resources</ion-button>
      </ion-list-header>
      <ion-item href="https://www.google.com/maps/@47.7363208,-116.9448324,14z">

          <ion-card>
              <ion-item>
                <ion-icon name="book" slot="start"></ion-icon>
                <ion-label>Maps</ion-label>
                <ion-button fill="outline" slot="end">View</ion-button>
              </ion-item>
              </ion-card>

      </ion-item>
    </ion-list>
</ion-content>
